
.navbar-brand {
  padding-left:20%;
  color: white;
  font-family: "bodoni_bd_btbold";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: white;
}
.navbar-collapse {
  padding-right:200px;
}
.nav-link {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px;
}

nav .nav-link {
  font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
  border-bottom: 1px solid white;
  color: white;
}

nav {
  border: solid 1px white;
}
nav svg {
  color: white;
}
